@media (max-width:720px) {
   body{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   
   


/* ================== NAVBAR ======================== */
    
.nav-container {
    position: fixed;
    padding: 5px 20px;
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

 /* ================ circle animation design  start */
    
 .logo {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--light-blue);
    border-radius: 50%;
    position: relative;
    animation: edge 5s linear infinite;
}

.logo::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 12px 4px #fff;
}

/* ============== circle animation design ends  ===================*/






/* ============== toggle bar ================== */



.nav-menu-icon{
    display:block;
    content:"";
    width:4%;
    height:10px;
    padding:10px;
    cursor:pointer;
    position:relative;
}

.nav-menu-icon span{
    background:var(--white);
    position:absolute;
    top:50%;
    width:100%;
    height:8px;
}

.nav-menu-icon span{
    background:var(--white);
    position:absolute;
    top:50%;
    width:100%;
    height:8px;
    transition: var(--transition)
}

.nav-menu-icon span:nth-child(1){
    top:5%;
}

.nav-menu-icon span:nth-child(3){
    top:99%;
}

.nav-menu-icon.active span:nth-child(1){
    opacity:0;
 }

 .nav-menu-icon.active span:nth-child(2){
    top: 40%;
     transform: translate(-8.5px, -4px) rotate(-45deg);
     background:var(--light-blue);
 }
   .nav-menu-icon.active span:nth-child(3){
     top:80%;
     transform:translate(-8px, -12px) rotate(45deg);
     background:var(--light-blue);
 }


 .navbar{
    position:absolute;
    top:0;
    right:-1000px;
    height:70vh;
    display:grid;
    flex-direction: column;
    background:var(--gold);
    opacity: .9;
    width:70%;
    text-align:center;
    padding: 70px 0px;
    margin-top: 110px;
    margin-right: 0px;
    border-radius: 0px;
    transition: var(--transition);
 }  

 .navbar.active{
    right:0;
}

.navbar a{
    font-size:var(--small-big);
}
.navbar a:hover{
    font-size:var(--big);
}


.navbar a {
    font-size: var(--small);
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: var(--light-blue);
}

/* ================== NAVBAR SECTION ENDS ======================== */

/* ================== HOME SECTION ======================== */

.home {
    max-width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:none;
    justify-content:none;
    padding-bottom: 40px;
}

.home-content{
    background:var(--gradient);
    display:grid;
    align-items:center;
    margin: 20px;
    padding: 0 20px 0 20px;
}


.home-content h3{
    letter-spacing: 15px;
    padding:0px;
    font-size:24px;
}

.home-content h1{
    font-size:var(--big);
    margin-top:40px;
    padding:0px;
 font-size: 30px;
}

.home-content p{
    font-size:var(--smaller);
    font-family:primary;
    text-align:center;
    
}



.btn-box{
    padding: 2px;
}

.home-sci a{
    margin-top: 10px;
    gap: 20px;
}


/*======== ABOUT SECTION DESIGN  ==============*/
.about-us{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.about-container-right {
    width: 100%;
    padding: 20px;

}


/* -------- ABOUT CONTAINER RIGHT ENDS ---------------*/


/* -------- ABOUT CONTAINER LEFT STARTS ---------------*/


.about-container-left {
    width: 100%;
    padding: 20px;
}

.skill-box {
 align-items: center;
    flex-direction: column;
    
}

.skill-box-left {
    width: 100%;
    margin-right: 0;
}


.skill-box-container {
    width: 100%;
}


/* -------- skill-box-right design start --------- */

.skill-box-right {
    width: 100%;
    margin-right: 0;
    
}




/* -------- skill-box-right design ends --------- */



/* ================== ABOUT SECTION  ENDS ======================== */

/* ================== SERVICE SECTION  STARTS ======================== */
.service-container {
    padding:50px 10px;
}

.service-container h1 {
    font-size: var(--big);
    margin-bottom: 20px;
}

.service-container h6 {
    font-size: var(--small);
    margin-top: -20px;
}

.service-box {
    margin: 0px 20px;
}

.box-area-top {
    flex-direction: column;
    margin: 0px 20px;
}

.box-area {
    margin: 10px 0;
    padding: 20px;
}

.box-area h3 {
    font-size: var(--small-big);
    padding: 0px 20px;
}

.box-area img {
    width: 100%;

}

.box-area p {
    width: 80%;
}



/* ================== SERVICE SECTION  ENDS ======================== */


/* ================== PORTFOLIO SECTION  STARTS ======================== */

.port-container {
    padding: 5% 4%;
}

.port-heading {
    font-size: 40px;
}





/* ================== PORTFOLIO SECTION  ENDS ======================== */




/* ================== CONTACT SECTION  START ======================== */
.contact-container {
    flex-direction: column;
    padding: 20px;
}

.contact-container-content {
    flex-direction: column;
}

.contact-container-content-left, 
    .contact-container-content-right {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .contact-container-content-right {
        margin: 20px 0;
        padding: 20px;
    }

    input[type="submit"] {
        margin-left: 0;
        width: 100%;
    }

    .contact-container-content-left h5 {
        font-size: var(--smaller);
        padding-top: 25px;
    }

    .contact-container-left-address {
        font-size: var(--smaller);
        line-height: 30px;
    }

    .contact-container-back {
        padding: 100px;
    }









/* ================== CONTACT SECTION  ENDS ======================== */




/* ============= FOOTER SECTION ==================== */

.footer-container h3 {
    font-size: 18px;
}

.footer-container h5 {
    font-size: 14px;
}


/* ============= FOOTER SECTION ENDS ==================== */



 /* =============== KEYFRAME ANIMATION ================ */
    
 @keyframes showRight {
    100% {
        width: 0;



    }
}

@keyframes manipActiveHover {
    50% {
        pointer-events: auto;
    }

}


/* ====== CIRCLE ANIMATION START HERE ======== */

@keyframes edge {
    to {
        rotate: 360deg
    }
}

/* ====== CIRCLE ANIMATION END HERE ======== */














   
}   /*----------- closing tag of the media query  -------------- */








    

   
    
   
    

    
    
    
    
    
    
   
    
    
    
   
    
    
   
    
    
    
    
   



















































